@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Theme Classes */
:root {
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 6px 8px rgba(0, 0, 0, 0.15);
  --text-shadow-light: 0px 2px 5px rgba(28, 82, 97, 0.5);
  --text-shadow-medium: 0px 3px 10px rgba(28, 82, 97, 0.6);
  --border-radius: 10px;

  --h1-color: #ffffff;
  --h1-color-hover: rgba(88, 138, 204, 0.644);
  --bg-color: #f5f5f5;
  --text-color: #000000;
  --accent-color: #999999;

  --button-bg: #ffffff;
  --button-text: #2a6067;
  --button-bg-hover: rgba(32, 140, 228, 0.842);

  --navigation-color: #ffffff;
  --footer-color: #ffffff;
}

@font-face {
  font-family: "Pusab";
  src: url("/PUSAB___.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans&family=Playfair+Display:wght@800&display=swap");

/* Themes */
.theme-monochrome {
  --h1-color: #ffffff;
  --bg-color: #f5f5f5;
  --text-color: #000000;
  --accent-color: hsl(0, 0%, 60%);
  --button-bg: #2a606763;
  --button-text: #2a6067;
  --button-bg-hover: rgba(32, 140, 228, 0.842);
  --navigation-color: #ffffff;
  --footer-color: #ffffff;
  --nav-link-hover: #ffffff8a;
}

.theme-colorful {
  --h1-color: #d64f4f;
  --bg-color: #a47864;
  --text-color: #ffffff;
  --accent-color: #ba2649;
  --nav-link-hover: #ffffff8a;
  --link-color-hover: #000;
  --button-bg: #6667ab;
  --button-text: #ffffff;
  --background-move: 10%;
  --navigation-color: #d64f4f;
}

/* Base Styling */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight */
  font-style: normal;
}

.theme-colourful main {
  background-position-x: var(--background-move);
}

.header-container,
.footer-container {
  background-color: transparent;
  z-index: 9999 !important;
    position: relative;
}
.bg-pos-x-0 {
  transition: background-position 3s ease;
}

.bg-pos-x-10 {
  background-image: url("https://res.cloudinary.com/ryry/image/upload/v1733681828/ry_boi_add_small_white_dog_7da68f71-4c19-44d0-92cc-b3eeb15b325d_maseqj.webp") !important;
  transition: background-image 3s ease-out;
  background-size: cover;
}

.hiddenIntro {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s cubic-bezier(0.25, 0.1, 0.36, 1.1);
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 5s ease-in;
}

.banner {
  opacity: 1;
  transition: opacity 2s ease;
  pointer-events: auto;
}

.unstyle-banner {
  opacity: 0;
  transition: opacity 2s ease;
  pointer-events: none;
}

/* Buttons */
.primary-button,
.secondary-button,
.connect-wallet-button,
.theme-switcher-button,
.gold-button {
  background: linear-gradient(90deg, #51b3cb99, #51b3cb99);
  color: #ffffff;
  border: none;
  border-radius: 12px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 12px 24px; 
  font-weight: bold;
  font-size: 14px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  cursor: pointer; 
  transition: all 0.3s ease;
  outline: none; 
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

.animated-button {
  animation: pulse 1.5s infinite ease-in-out, shine 2s infinite linear;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #ffffff, #f1c40f, #ffffff);
  background-size: 300%;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: gold;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(255, 223, 0, 0.8);
  pointer-events: none;
}


.animated-button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
  background-size: 200%;
}



.gold-button {
background: linear-gradient(90deg, #f1c40f, #f1c40f);
color:white;
font-size:0.8em;

}

.wallet-connected {
   background: linear-gradient(90deg, #4091b1, #4091b1);
  color: #ffffff;
  border: none;
  border-radius: 12px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 12px 24px; 
  font-weight: bold;
  font-size: 14px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  cursor: pointer; 
  transition: all 0.3s ease;
  outline: none; 
  border: 1px solid white;
}

.primary-button:hover,
.secondary-button:hover,
.connect-wallet-button:hover,
.theme-switcher-button:hover {
  background: linear-gradient(90deg, #4091b1, #4091b1);
  transform: scale(1.05); /* Subtle scaling effect */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Elevated shadow */
}

.primary-button:active,
.secondary-button:active,
.connect-wallet-button:active,
.theme-switcher-button:active {
  transform: scale(0.98); /* Slight press effect */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); /* Lower shadow */
}

.primary-button:focus,
.secondary-button:focus,
.connect-wallet-button:focus,
.theme-switcher-button:focus {
  outline: 2px solid rgba(255, 138, 0, 0.5); 
}

/* Headings */
h1,
h2,
h3 {
  color: var(--h1-color);
  text-shadow: var(--text-shadow-medium);
  font-family: "Pusab", sans-serif;
}

/* Intro Text */
.intro {
  font-size: 24px;
  color: var(--navigation-color);
  text-shadow: var(--text-shadow-light);
}

/* Paragraphs, Links, and Spans */
p,
span,
a {
  color: var(--h1-color);
  text-shadow: var(--text-shadow-light);
}

/* Navigation and Social Links */
.nav-link,
.social-link {
  font-size: 20px;
  padding: 10px 20px;
  text-shadow: var(--text-shadow-light);
  font-family: "Pusab", sans-serif;
  transition: color 0.3s;
}

.nav-link:hover,
.social-link:hover {
  color: var(--nav-link-hover);
}

.footer-link:hover {
  color: var(--nav-link-hover);
}

/* Cards */
.card-container {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-medium); /* Elevated shadow on hover */
}

/* Buy Button */
.buy-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  padding: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buy-button:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-medium);
}

div#moonpay-react-sdk-embedded-frame {
  position: relative;
  border: none !important;
  border-radius: 0px !important;
  min-width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(98 48 186 / 29%),
    rgb(125 1 255 / 68%)
  );
  border-radius: 30px !important;
  margin-top: 50px;
  height: 100vh;
}
